      <div class="answer">
        <% if a.id == a.question.best_answer_id %>
          <h2> This is the best answer! </h2>
        <% end %>
        <div class="answer-inner">
          <div class="answer-body"><%= a.body %></div>
          <div class="author">
            <em>  Author: <%= User.find(a.user_id).name %></em>
          </div>
          <!-- form to comment on answer -->
          <%= erb :'/questions/_comments_form', locals:{commentable: a, question_id: a.question.id}%>

        <% if a.question.best_answer_id == nil && current_user.id == a.question.user_id %>
            <form class="best-answer-form" action="/questions/best-answer" method="POST">
            <input type="hidden" name="answerid" value="<%= a.id %>">
            <button type="submit" name="best-answer" value="best-answer">Declare Best Answer</button>
          </form>
        <% end %>

  <!-- comment on answer -->
          <div class="answer-comments">
            <h4 class="comments-title">Comments</h4>
            <div class="all_comments">
            <% a.comments.each do |c| %>
              <%= erb :'/questions/_comment', locals:{c: c}%>
            <% end %>
            </div>

          </div>
        </div>
      <div class="vote-count">
        <span class="votes"><div class="votes-number-Answer-<%= a.id %>"><%= a.votes.length %></div>
          <%= erb :'/_votes_form', locals:{votable: a}%>
          <span>
        <p>Vote</p>
      </div>
    </div>
