
      <div class="answer">
        <div class="answer-body"><%= a.body %></div>
        <div class="author">
          <em>  Author: <%= User.find(a.user_id).name %></em>
        </div>
        <!-- form to comment on answer -->
        <%= erb :'/questions/_comments_form', locals:{commentable: a, question_id: a.question.id}%>
        Votes: <div class="votes-number-Answer-<%= a.id %>"><%= a.votes.length %></div>
        <%= erb :'/_votes_form', locals:{votable: a}%>
<!-- comment on answer -->
        <div class="answer-comments">
          <h4 class="comments-title">Comments</h4>
          <div class="all_comments">
          <% a.comments.each do |c| %>
            <%= erb :'/questions/_comment', locals:{c: c}%>
          <% end %>
          </div>
        </div>
    </div>
