        <div class="comment-body">
          <p> <%= c.body %></p>
          <div class="author">
          <em>Author: <%= User.find(c.user_id).name %></em>
        </div>

           Votes: <div class="votes-number-Comment-<%= c.id %>"><%= c.votes.length %></div>
           <%= erb :'/_votes_form', locals:{votable: c}%>
         </div>
