<div class="contain">
<!-- question -->
    <div class="question">
      <h2 class="question-title show"><%= @question.title %></h2>
      Votes: <div class="votes-number-Question-<%= @question.id %>"><%= @question.votes.length %></div><%= erb :'/_votes_form', locals:{votable: @question}%>
      <div class="question-body">
          <%= @question.body %>
        <div class="author">
          <em>Author: <%= @author.name %></em>
        </div>
          <% if current_user %>
            <%= erb :'/questions/_answers_form', locals:{question: @question}%>
            <%= erb :'/questions/_comments_form', locals:{commentable: @question, question_id: @question.id}%>
          <% end %>
      </div>
      <!-- comment on questions  -->
      <div class="question-comments">
        <h4 class="comments-title">Comments</h4>
          <div class="all_comments">
          <% @question.comments.each do |c| %>
            <%= erb :'/questions/_comment', locals:{c: c}%>
          <% end %>
        </div>
      </div>

    </div>

  <!-- question answers -->
  <h3 class="answers-title">Answers</h3>
  <div class="answers">
    <% @answers.each do |a| %>
    <%=erb :'/questions/_answer', locals:{a: a} %>
    <% end %>
    </div>
  </div>
</div>

