<div class="contain">
<!-- question -->
    <div class="question">

      <div class="question-inner">
        <h2 class="question-title show"><%= @question.title %></h2>
        <div class="question-body">
          <%= @question.body %>
          <div class="author">
            <em>Author: <%= @author.name %></em>
          </div>
          <div class="listed_tags">
            <ul>
              <% @question.tags.each do |tag| %>
                <li><a href="/tags/questions/<%= tag.id%>"><%=tag.name%></a></li>
              <%end%>
            </ul><br>
          </div>

          <!-- FORM FOR CREATED NEW ANSWERS WILL GO HERE -->
          <% if current_user %>
            <%= erb :'/questions/_answers_form', locals:{question: @question}%>
            <%= erb :'/questions/_comments_form', locals:{commentable: @question, question_id: @question.id}%>
          <% end %>

        </div>
        <div class="question-comments">

          <div class="all_comments">
            <% @question.comments.each do |c| %>
            <%= erb :'/questions/_comment', locals:{c: c}%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="vote-count">
        <span class="votes"><div class="votes-number-Question-<%= @question.id %>"><%= @question.votes.length %></div><%= erb :'/_votes_form', locals:{votable: @question}%></span>
        <p>Vote</p>
      </div>
      <!-- comment on questions  -->

    </div>

  <!-- question answers -->
  <h3 class="answers-title">Answers</h3>
  <div class="answers">
    <% @answers.each do |a| %>
    <%=erb :'/questions/_answer', locals:{a: a} %>
    <% end %>
    </div>
  </div>
</div>
